<div class="slick-single-layout">
    <div class="categrie-product" data-sal="zoom-out" data-sal-delay="400" data-sal-duration="500">
        <a href="#">
            <img class="img-fluid" src="./storefront/assets/images/product/categories/elec-11.png" alt="product categorie">
            <h6 class="cat-title">Accessories</h6>
        </a>
    </div>
    <!-- End .categrie-product -->
</div>
<!-- End .slick-single-layout -->